{{#with rowStats}}
    <tr class="{{color}}">
        <td>{{fileName}}</td>
        <td>{{methodName}}</td>
        <td class="center">{{numberOfTests}}</td>
        <td class="center">{{codeCoverage}}</td>
        <td class="center">{{bugs}}</td>
        <td class="center">{{duration}}</td>
    </tr>
{{/with}}
